
// General Styles
//============================

* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	padding-top: 50px;
	font-size: $base-font-size;
	font-family: $seravek-stack;
	color: $text-color;
	overflow-x: hidden;
}
.center-el {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.border-cont {
	position: relative;
	padding: 22px 18px;
	
	.border {
		position: absolute;
		display: inline-block;
		background-color: $text-color;

		@at-root section.dark & {
			background-color: $offwhite;
		}

		&.top,
		&.bottom {
			height: 2px;
			width: 25%;
		}
		&.left,
		&.right {
			width: 2px;
			height: 25%;
		}
		&.top,
		&.left {
			top: 0;
			left: 0;
		}
		&.bottom,
		&.right {
			bottom: 0;
			right: 0;
		}
	}
	h3 {
		&.right {
			text-align: right;
		}
	}
	p {
		margin-top: 22px;
	}
}
button {
	display: inline-block;
	min-width: 100px;
	padding: 10px 20px;
	border: none;
	font-size: 0.6rem;
	font-family: $seravek-stack;
	color: $grey-dark;

	&.blue {
		background-color: $green-light;
	}
	&.green {
		background-color: $green;
	}
}


// Carousel
//============================

.slick-dots {
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin: 0;
	padding: 0;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);

	li {
		display: inline-block;
		margin-right: 5px;

		button {
			display: block;
			height: 13px;	
			width: 13px;
			min-width: 0;
			padding: 0;
			font-size: 0;
			background-color: $white;
			border-radius: 50%;
			opacity: 0.5;
			-webkit-transition: all 0.5s;
			transition: all 0.5s;
		}

		&.slick-active {
			button {
				opacity: 1;
			}
		}
	}
}


// Nav Bar
//============================

nav {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	padding: 12px 10px;
	background-color: $white;

	.logo {
		display: inline-block;
		color: $text-color;
		font-family: $abadi-stack;
		font-size: 1.4rem;
		line-height: 0.9em;

		.flip {
			position: relative;
			top: -4px;
			left: -3px;
			display: inline-block;
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
	.hamburger {
		float: right;
		display: inline-block;
		width: 36px;
		padding-top: 3px;

		.line {
			height: 4px;
			margin-bottom: 5px;
			background-color: $grey-light;
			@include transition(0.5s);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}


// Sections 
//==========================

section {
	width: 100%;
	padding: 15px;
	overflow: hidden;

	&.dark {
		background-color: $grey-dark;
		color: $offwhite;

		button {
			color: $grey-dark;
		}
	}

	button {
		color: $offwhite;
	}
}

.section-hero {
	position: relative;
	height: calc(100vh - 50px);
	padding: 0;
	background-image: url('/img/hero.jpg');
	background-size: cover;
	background-position: 40% center;

	&.photo-break-1,
	&.photo-break-2 {
		height: 50vh;
		background-position: center center;
	}
	&.photo-break-1 {
		background-image: url('/img/yoga1.jpg');
	}
	&.photo-break-2 {
		background-image: url('/img/yoga2.jpg');
	}

	.logo {
		position: absolute;
		display: inline-block;
		padding: 8px 15px;
		color: $offwhite;
		font-family: $abadi-stack;
		font-size: 1.8rem;

		.border {
			background-color: $offwhite;

			&.top,
			&.bottom {
				width: 25%;
			}
			&.top {
				right: 0;
				left: auto;
			}
			&.bottom {
				left: 0;
				right: auto;
			}
			&.left,
			&.right {
				height: 100%;
			}
			&.left {
				bottom: 0;
				top: auto;
			}
			&.right {
				top: 0;
				bottom: auto;
			}
		}
		.tagline {
			font-size: 0.75rem;
			position: absolute;
			bottom: -5px;
			right: 8px;
			display: inline-block;
		}
	}
}
.section-signup {
	padding-top: 0;

	.button-cont {
		padding: 24px 20px;
		text-align: center;

		button {
			&:first-child {
				margin-right: 12px;
			}
		}
	}
}
.section-nutrition {
	.border-cont {
		margin-bottom: 45px;
	}
	.steps-cont {
		text-align: center;

		.step {
			margin-bottom: 17px;
			text-align: left;

			.step-num {
				display: inline-block;
				padding: 6px 10px;
				margin-bottom: 10px;
				text-align: center;
				font-weight: 700;
				background-color: $green-light;
				color: $white;
			}
		}
	}
}
.section-sliders {
	padding: 0;

	.slider-header {
		padding: 42px 23px;
		text-align: right;
	}
	.slider {
		.slide {
			position: relative;
			display: inline-block;
			height: 50vh;
			overflow: hidden;

			.title {
				display: inline-block;
				padding: 10px;
				white-space: nowrap;
				color: $grey-dark;
				background-color: $green-light;
			}
			.info-cont {
				position: absolute;
				bottom: 110%;
				left: 50%;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);

				max-height: 90%;
				width: 75%;
				max-width: 400px;
				padding: 18px;
				text-align: center;
				background-color: $green-light;
				color: $offwhite;
				@include transition(0.3s);

				&.show {
					bottom: 10%;
				}

				p {
					margin-bottom: 12px;
				}
				a {
					color: $white;
				}
			}
			img {
				display: block;
				height: 100%;
				width: auto;
			}
		}
	}

	#slider-1 {
		.slide2,
		.slide4 {
			.title {
				background-color: $orange;
			}
			.info-cont {
				background-color: $orange;
			}
		}
	}

	#slider-2 {
		.text-slide {
			background-color: $green-light;
			padding: 10px 5px;

			.title {
				width: 100%;
				max-height: 100%;
				white-space: normal;

				p {
					padding: 0;
					margin-bottom: 12px;

					&:last-child {
						margin: 0;
					}
				}
				a {
					color: $white;
				}
			}
		}
	}
}
.section-hero.happy-cta {
	height: 70vh;
	background-image: url('/img/greenhouse.jpg');
	background-position: left center;

	button {
		position: absolute;
		bottom: 25px;
		right: 15px;
		font-size: 1.4rem;
		background-color: $grey-dark;
	}
}
.section-our-story {
	position: relative;
	padding-top: 40px;
	padding-bottom: 55px;

	h3 {
		margin-bottom: 40px;
	}
	p {
		&:first-child {
			margin-bottom: 22px;
		}
	}
	img {
		position: absolute;
		display: inline-block;
		height: 84px;
		width: auto;

		&.orange-1 {
			top: 15px;
			right: -20px;
		}
		&.orange-2 {
			bottom: 20px;
			left: -15px;
		}
		&.orange-3 {
			bottom: -23px;
			left: 34px;
		}
	}
}